body{
width: 100%;
height: auto;
margin: auto;
overflow-x: auto;
overflow-y: auto;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  color:white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin-left: 18px;
  margin-right: -1px;
  width: 1600px;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 20px;
margin: auto;
width: auto;
height: auto;
}
dl{
  display: inline;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;

}
dt{
  justify-content: space-between;
  display: inline;
  text-decoration: underline;
}
main{
  width: 1600px;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align:left;
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size:25px;
  text-align: left;


}
img{
height: 180px;
margin:18px;


}
.esportes-container{
  display:flex;
  margin-left: 18px;
  margin-right: auto;
  width: 100%;
  height: auto;
  margin-bottom: 36px;

}
.esportes-section{
  display: flex;
  font-weight: bold;
  background-color: rgba(0, 255, 0, 0.2);
  flex-wrap: wrap;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 25px;
  margin-left: 18px;
  margin-right: auto;
  width: 100%;
}
.button-esportes{
  color:#ffffff;
  background-color: rgba(0,255,0,0.8);
font-weight: bold;
font-size: 18px;
margin-left: 18px;
margin-right: auto;
}
.economia-container{
  display:flex;
  margin-left: 18px;
  margin-right: auto;
  width: 100%;
  height: auto;
  margin-bottom: 36px;
}
.economia-section{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  background-color:  rgba(230, 227, 30, 0.5);
  flex-wrap: wrap;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 25px;
  margin-left: 18px;
  margin-right: auto;
  width: 100%;
}
.button-economia{
  color:#ffffff;
  background-color: rgba(290,229,30,0.6);
font-weight: bold;
font-size: 18px;
margin-left: 18px;
margin-right: auto;
}
.tecnologia-container{
  display:flex;
  margin-left: 18px;
  margin-right: auto;
  width: 100%;
  height: auto;
  margin-bottom: 36px;
}
.tecnologia-section{
  display: inline-block;
  font-weight: bold;
  background-color: rgba(24, 27, 179, 0.5);
  flex-wrap: wrap;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 25px;
  margin-left: 18px;
  margin-right: auto;
  width: 100%;

}
.button-tecnologia{
  color:#ffffff;
  background-color: rgba(24,27,178,0.9);
font-weight: bold;
font-size: 18px;
margin-left: 18px;
margin-right: auto;
}
.entretenimento-container{
  display:flex;
  margin-left: 18px;
  margin-right: auto;
  width: 100%;
  height: auto;
  margin-bottom: 36px;
}
.entretenimento-section{
  display: inline-block;
  font-weight: bold;
  background-color: rgba(11, 126, 68, 0.5);
  flex-wrap: wrap;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 25px;
  margin-left: 18px;
  margin-right:auto;
  width: 100%;
}
.button-entretenimento{
  color:#ffffff;
  background-color: rgba(11,126,68,0.8);
font-weight: bold;
font-size: 18px;
margin-left: 18px;
margin-right: auto;
}
